autom4te.cache/
build/
output/

*~
Makefile
SDL2.spec
config.log
config.status
libtool
sdl2-config
sdl2-config.cmake
sdl2-config-version.cmake
sdl2.pc

include/SDL_revision.h
include/neon.h
libneonarmmiyoo.a
libneonarmmiyoo.so
